01_pin/build/
02_timer/build/
03_polimorphism/a.out
04_subscriber/a.out
05_list/a.out
06_timer_subscriber/build/
07_subscriber_iterators/build/
08_pin_test/build/
08_pin_test/test/a.out
09_timer_test/build/
09_timer_test/test/a.out
10_lambda/build/
10_lambda/test/a.out
11_TDD_button/build/
11_TDD_button/test/a.out
12_button/build/
12_button/test/a.out
13_buttons_variadic/build/
13_buttons_variadic/test/a.out
14_meta/build/
14_meta/test/build/
15_registers/build/
15_registers/test/build/
16_GPIO/build/
16_GPIO/test/build/
17_RCC/build/
17_RCC/test/build/
18_bitfields/build/
19_metatable/build/
19_metatable/test/build/
20_objects/build/
20_objects/test/build/
